// Contact Main

.contact-main {
    display: flex;
    justify-content:center;
    align-items: center;

}
// Contact info & social links

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 1.5rem;
}

.social-container ul{
    display: flex;
    padding: 0;

    li {
        margin-right: 20px;
    }
}

// Form

.contact-form {
    width: 65%;
    padding: 75px 50px;
    background-color: $dark-red;
    box-shadow: 20px 20px $dusty-orange;
    position: relative;
    top: -120px;
    
    input {
        border: none;
        border-bottom: 1px solid $off-white;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 48%;
    
    
}

#message {
    border: 1px solid $off-white;
    
}
