// Contact Main

main {
    display: flex;
    justify-content:space-between;
    padding: 100px;

}
// Contact info & social links

.contact-container {
    display: flex;
    flex-direction: column;
}

.social-container ul{
    display: flex;
}

// Form

.contact-form {
    width: 60%;
    padding: 20px;
    background-color: $dark-red;
    display: flex;
    flex-wrap: wrap;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#message {
    width: 100%;
}
