// Color Variables

$off-white: #FFFFFF;
$rust-red: #BF2603;
$dusty-orange: #FF8327;
$black: #111010;
$dark-red: #220303;

html {
    color: $off-white;
    padding: 0;
    margin: 0;
}

// Wrapper
.wrapper {
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
}

// Default settings

a {
    text-decoration: none;
    color: $off-white;
}
nav li, .social-container li {
    list-style: none;
}

