// Color Variables

$off-white: #FFFFFF;
$rust-red: #BF2603;
$dusty-orange: #FF8327;
$black: #111010;
$dark-red: #220303;

// Default settings

a {
    text-decoration: none;
}
nav li, .social-container li {
    list-style: none;
}

