// Color Variables

$off-white: #FFFFFF;
$rust-red: #BF2603;
$dusty-orange: #FF8327;
$black: #111010;
$dark-red: #220303;

html {
    color: $off-white;
}

body {
    background-color: $black;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}


// Wrapper
.wrapper {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
}

// Default settings

a {
    text-decoration: none;
    color: $off-white;
}

.text-container a {
    background-color: $rust-red;
    padding: 5px 40px;
}

nav li, .social-container li {
    list-style: none;
}

