// Global headers styles
// header {

// }

// Header styles by pages
header.home {
    background-image: url(../assets/home-image-1.jpg);
}

// header.blog {

// }

// header.contact {

// }

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;

    ul{
        display: flex;
        justify-content: space-around;
        align-items: end;
        padding: 0 150px;
    }
}


h1 {
    color: $dusty-orange;
}