// Idex Main

// About

.about-container {
    display: flex;
    flex-wrap: wrap;
    margin: 200px 0 100px;
}

.content-container {
    width: 50%;
    display: flex;
    margin-bottom: 50px;

    i {
        font-size: 1.3rem;
        text-align: center;
        background-color: $rust-red;
        border-radius: 50%;
        height: 50px;
        width: 100px;
        padding: 10px;
        margin: 10px 30px 0 0;
    }
}

// Location

.location {
    background-color: $dark-red;
}

.location-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        width: 45%;
        position: relative;
    }

    .bar-img {
        box-shadow: 20px 20px $dusty-orange;
        top: -50px;
    }

    .stool-img {
        box-shadow: -20px 20px $dusty-orange;
        bottom: -50px;
    }

    .text-container {
        width: 50%;
        padding: 50px 70px;

        p {
            margin-bottom: 25px;
        }

    }
}

// Party

.party-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .text-container {
        text-align: center;
        width: 70%;
        margin: 130px 0;

        p {
            margin: 20px 0 ;
        }

        h3 {
            color: $dusty-orange;
        }
    }

    img {
        width: 100%;
    }
}

// Events

.event-container {
    display: flex;
    align-items: center;
    padding: 100px 50px 120px;

    .text-container {
        margin-left: 10%;

        h3 {
            color: $dusty-orange;
        }

        p {
            margin: 10px 0 40px;
        }
    }

    img {
        box-shadow: -20px 20px $dusty-orange;
    }
}

// Gallery

.gallery {
    background-color: $dark-red;
}

.gallery-container {
    display: flex;
    padding: 80px 40px ;

    img {
        width: 100%;
    }

    img:nth-last-child(2) {
        margin: 0 30px;
    }
}

