@media (max-width: 940px) {

    // INDEX/ HOME

    // BLOG

    // CONTACT

}

@media (max-width: 768px) {

 // HEADER GLOBAL

header nav {
    visibility: hidden;
}

.fa-bars {
    display: inline-block;
    font-size: 2rem;
    align-self: end;
    padding: 30px 30px 0;
}

.title-container {
    margin-top: 0;
}

    // INDEX/ HOME

    // BLOG

    // CONTACT

}

@media (max-width: 480px) {

     // HEADER GLOBAL

    // INDEX/ HOME

    // BLOG

    // CONTACT

}