// fonts used:
// font-family: 'Chathura', sans-serif;
// font-family: 'Tulpen One', cursive;

// font families
h1, .logo , a {
    font-family: 'Tulpen One', cursive;
}
h2, h3, h4, p, nav li, form, input, textarea, textarea::placeholder, button {
    font-family: 'Chathura', sans-serif;
}

// font sizes
html {
    font-size: 125%;
}

h1 {
    font-size: 13.07rem;
    letter-spacing: 2.4px;
}

h2 {
    font-size: 4.16rem;
    letter-spacing: 2.6px;
}

h3 {
    font-size: 2.9rem;
    letter-spacing: 2.2px;
}

a, button, label, input, textarea, textarea::placeholder {
    font-size: 1.45rem;
}

label {
    padding-left: 20px;
}

.logo {
    font-size: 2rem;
}

nav li {
    font-size: 1.45rem;
    letter-spacing: 1.9px;
}

p {
    font-size: 1.5rem;
    letter-spacing: 1.9px;
}

